<style onload="buttonFunction()" ></style>
<div class="form-in">
    <p id="buttonTeamShop" > </p>
</div>
<script>

     if (document.attachEvent) {
            document.attachEvent("onload", buttonFunction);
     }

    function buttonFunction() {
        if ({{ state }} == 0) {
            document.getElementById("buttonTeamShop").innerHTML =
                "    <form method=\"POST\">" +
                "       <label> Artifact to buy </label> <br>\n" +
                "        <select  type=\"text\" id=\"artifactName\" name=\"newPurchase\"> <br>\n" +
                         "{% if artifactModels.size() == 0 %}\n" +
                                  "<a class=\"emptyList\">No team</a>\n"+
                           " {% else %}\n"+
                "            {% for artifact in artifactModels %}\n" +
                "                <option  type=\"text\" name=\"newArtifact\" value= {{ artifact.title }}> {{ artifact.title }} </option>\n" +
                "            {% endfor %}\n" +
                "            {% endif %}\n"+
                "        </select>\n" +
                "     <input type=\"hidden\" name=\"state\" value=\"1\" > <br> \n" +
                "        <input class=\"markSubmit\" id=\"submit\"  name=\"submit\" type=\"submit\"  value=\"submit\">\n" +
                "    </form>";

        } else if ({{ state }} == 1) {

            if ({{ voted }} == 0) {

                document.getElementById("buttonTeamShop").innerHTML =

                    "    <form name=\"myform\" action=\"\" method=\"POST\" id=\"myForm\">" +
                    "       <label> Vote on {{ titleArt }} Price: {{ price }}</label> <br>\n" +
                    "<input type=\"radio\" name=\"voteYes\" value=\"1\" onclick=\"valid('1');\" /> Yes \n" +
                    " <input type=\"radio\" name=\"voteNo\" value=\"0\" onclick=\"valid('0');\" /> No \n" +
                    "    <textarea type=\"text\" rows=\"4\" cols=\"50\" name=\"comment\" placeholder=\"enter header...\" id=\"no\" disabled=\"disabled\" required></textarea>\n" +
                    "  <input class=\"markSubmit\" type=\"submit\" value=\"Submit\">\n" +
                    "</form>";
            } else {
                document.getElementById("buttonTeamShop").innerHTML =
                "       <label> Voted for:  {{ titleArt }} ; Price artifact: {{ price }}</label> <br>\n" +
                "       <label> Wait for the end of voting</label> <br>\n"
            }

        } else if ({{ state }} == 2) {
             document.getElementById("buttonTeamShop").innerHTML =

                "  <form name=\"myform\" action=\"\" method=\"POST\" id=\"myForm\">" +
                "     <label> Use  {{ titleArt }} Price: {{ price }}</label> <br>\n" +
                "     <input type=\"hidden\" name=\"mark\" value=\"0\" > <br> \n" +
                "     <input class=\"markSubmit\" type=\"submit\" value=\"use {{ titleArt }}\">\n" +
                "  </form>";

        } else {
            alert("Sorry for failure");
        }
    }
     function valid(option) {

         document.getElementById('no').disabled = true;
         if(option == 1) {
             document.getElementById('no').reset();}
         else if(option == 0) { document.getElementById('no').disabled = false; }

     }
</script>