<div class="container">
    <div class="globalTable">
        <table class="localTable" id="table" border="1">
            <thead>
                <tr>
                    <th>Current</th>
                    <th>Exp</th>
                    <th>Next</th>
                </tr>
            </thead>
            <cltbody>
                    <tr>
                        <td class="tddd">{{  studentLevel.levelName }}</td>
                        <td>
                            <div id="pbc">
                                <div id="pb"></div>
                                <div id="pbt"></div>
                            </div>
                        </td>
                        <td class="tddd">{{  nextLevel.levelName }}</td>
                    </tr>
                    <tr>
                        <td>{{  studentLevel.expRequired }}</td>
                        <td> {{ studentExp }}</td>
                        <td>{{  nextLevel.expRequired }}</td>
                    </tr>

            </cltbody>
        </table>
</div>


<style>

    #pbc{
        width: 500px;
        height:30px;
        background:#000;
        border:#000 1px solid;
        margin-left: 7%;
        margin-top: 2%;
    }
    #pbc > #pb{ position: relative; top:0px; background: #ff9f2c; width:0%; height:30px; color: #0FF; text-align:center; }
    #pbc > #pbt{ position: relative; top:-25px; text-align:center; color:#FFF; padding: 0px; height:8px; font-size:12px; }

</style>

<script>
    var testvalue = 100 * {{ studentExp - studentLevel.expRequired }} / {{ nextLevel.expRequired - studentLevel.expRequired }};
    testvalue = Math.round(testvalue);
    var pbt = document.getElementById("pbt");
    var pb = document.getElementById("pb");
    pb.style.width = testvalue+"%";
    pbt.innerHTML = testvalue+"%";
</script>