<style onload="buttonFunction()" ></style>
<div class="container">
    <div class="globalTable">
        <header>
            <p id="buttonTeamShop"> </p>
        </header>
    </div>
</div>
<script>
    if (document.attachEvent) {
        document.attachEvent("onload", buttonFunction);
    }
    function buttonFunction() {
        if ({{ state }} == 1) {
            document.getElementById("buttonTeamShop").innerHTML =
               "<form method=\"post\" onsubmit=\"return validation(this);\">  \n" +
                "        <table class=\"localTable\" id=\"table\" border=\"21\">\n" +
                "            <thead>\n" +
                "                <tr>" +
                "                    <th>Nr.</th>\n" +
                "                    <th>Name</th>\n" +
                "                    <th>Surname</th>\n" +
                "                    <th>Email</th>\n" +
                "                    <th>Login</th>\n" +
                "                    <th>Class Name</th>\n" +
                "                    <th>CheckBox</th>\n" +
                "                </tr>\n" +
                "            </thead>\n" +
                "            <tbody>\n" +
                "            {% for student in studentModels %}\n" +
                "                <tr>\n" +
                "                    <td>{{ loop.index }}</td>\n" +
                "                    <td>{{ student.name }}</td>\n" +
                "                    <td>{{ student.surname }}</td>\n" +
                "                    <td>{{ student.email }}</td>\n" +
                "                    <td>{{ student.login }}</td>\n" +
                "                    <td>{{ student.className }}</td>\n" +
                "                    <td> <input type=\"checkbox\" name=\"nextPage\" value=\"{{ student.userID }}\"> </td>\n" +
                "                </tr>\n" +
                "             {% endfor %}\n" +
                "             </tbody>\n" +
                "        </table>\n" +
                "        <label></label><br>\n" +
                "        <input type=\"submit\" value=\"nextPage\">\n" +
                "    </form>";
        } else if ({{ state }} == 0) {
            document.getElementById("buttonTeamShop").innerHTML =
                "    <form name=\"myform\" action=\"\" method=\"POST\" id=\"myForm\">\n" +
                "        <label>Team Name </label><br>\n" +
                "        <input type=\"text\" name=\"name\" placeholder=\"enter team name...\" required> <br>\n" +
                "        <input class=\"markSubmit\" id=\"submit\" name=\"button\" type=\"submit\"  value=\"Add\">\n"+
                "    </form>\n";
        } else if ({{ state }} == 2)
        {
            document.getElementById("buttonTeamShop").innerHTML =
                "    <form name=\"myform\" action=\"\" method=\"POST\" id=\"myForm\">\n" +
                "        <label>Choosen Students</label><br>\n" +
                "        <table class=\"localTable\" id=\"table\" border=\"21\">\n" +
                "            <thead>\n" +
                "                <tr>" +
                "                    <th>Nr.</th>\n" +
                "                    <th>Name</th>\n" +
                "                    <th>Surname</th>\n" +
                "                    <th>Email</th>\n" +
                "                    <th>Login</th>\n" +
                "                    <th>Class Name</th>\n" +
                "                </tr>\n" +
                "            </thead>\n" +
                "            <tbody>\n" +
                "            {% for student in studentModels %}\n" +
                "                <tr>\n" +
                "                    <td>{{ loop.index }}</td>\n" +
                "                    <td>{{ student.name }}</td>\n" +
                "                    <td>{{ student.surname }}</td>\n" +
                "                    <td>{{ student.email }}</td>\n" +
                "                    <td>{{ student.login }}</td>\n" +
                "                    <td>{{ student.className }}</td>\n" +
                "                </tr>\n" +
                "             {% endfor %}\n" +
                "             </tbody>\n" +
                "        </table>\n" +
                "        <input type=\"hidden\" name=\"confirm\"> <br>\n" +
                "        <input type=\"submit\" value=\"confirm\">\n" +
                "    </form>\n" +
                "    <form name=\"myform\" action=\"\" method=\"POST\" id=\"myForm\">\n" +
                "        <input type=\"hidden\" name=\"restore\"> <br>\n" +
                "        <input type=\"submit\" value=\"restore\">\n"+
                "    </form>";
        }
    }

    function validation(form)
    {
        var size = form.nextPage.length;
        var check = false;
        for (var i=0; i < size ; i++)
        {
            if(form.nextPage[i].checked == true)
            {
                check = true;
                break;
            }
        }
        if(check == false)
        {
            alert('Please select at least one Student !');
            return false;
        }
        return true;
    }
</script>
