{#<style onload="buttonFunction()" ></style>#}
<div class="table">
    <header>
        <button onclick="openTableWithTeams()" id="buttonShowTeam">Show teams</button>
        <form name="myform" action="" method="POST" id="myForm">
            <label>Reset Team </label><br>
            <input type="hidden" name="reset" value="reset" required> <br>
            <input type="button" onclick="confirmFun()" value="reset">
        </form>
    </header>
</div>
<script>
    function openTableWithTeams() {
        myWindow = window.open("", "myWindow", "width=1200,height=900");
        myWindow.document.write(
            "<!DOCTYPE html>\n" +
            "<html lang=\"en\">\n" +
            "<head>\n" +
            "    <meta charset=\"UTF-8\">\n" +
            "    <title>{{ title }}</title>\n" +
            "    <link rel=\"stylesheet\" href=\"/static/css/Style1.css\">\n" +
                "<link rel=\"stylesheet\" href=\"/static/css/table.css\">\n" +
            "</head>\n"+
            "<body>\n" +
            "<div class=\"container\">\n" +
            "    <div class=\"globalTable\">\n" +
            "        <table class=\"localTable\" id=\"table\" border=\"21\">\n" +
            "            <thead>\n" +
            "                <tr>" +
            "                    <th>Team id</th>\n" +
            "                    <th>Team Name</th>\n" +
            "                    <th>Name</th>\n" +
            "                    <th>Surname</th>\n" +
            "                    <th>Email</th>\n" +
            "                    <th>Login</th>\n" +
            "                    <th>Class Name</th>\n" +
            "                </tr>\n" +
            "            </thead>\n" +
            "            <tbody>\n" +
            "        {% for team in teams %}\n" +
            "            <tr>\n" +
            "        {% for student in team.studentModels %}\n" +
            "                <td>{{ team.teamId }}</td>\n" +
            "                <td>{{ team.nameTeam }}</td>\n" +
            "                <td>{{ student.name }}</td>\n" +
            "                <td>{{ student.surname }}</td>\n" +
            "                <td>{{ student.email }}</td>\n" +
            "                <td>{{ student.login }}</td>\n" +
            "                <td>{{ student.className }}</td>\n" +
            "            </tr>\n" +
            "        {% endfor %}\n" +
            "        {% endfor %}\n" +
            "        </tbody>\n" +
            "    </table>\n" +
                "</div>\n"+
            "</div>\n"+
            "</body>\n" +
            "</html>");
    }

    function confirmFun() {
        if (confirm("Confirm remove all team!") == true) {

            document.getElementById("myForm").submit();
        } else {

            alert("Full teams!");

        }

    }
</script>
