<!DOCTYPE html>
<html lang="en">
<head>
<style>
    /* Popup container - can be anything you want */
    .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* The actual popup */
    .popup .popuptext {
        visibility: hidden;
        width: 160px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -80px;
    }

    /* Popup arrow */
    .popup .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    /* Toggle this class - hide and show the popup */
    .popup .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }

    /* Add animation (fade in the popup) */
    @-webkit-keyframes fadeIn {
        from {opacity: 0;}
        to {opacity: 1;}
    }

    @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity:1 ;}
    }
</style>
    <meta charset="UTF-8">
    <title>Admin Show Levels</title>
    <link rel="stylesheet" href="/static/css/Style1.css">
    <script type="text/javascript" src="/static/js/menu.js"></script>
    <link rel='shortcut icon' type='image/x-icon' href='/static/img/favicon.png'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400|Roboto+Condensed:400|Fjalla+One:400'>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/static/css/calendar.css">
    {{ redirect }}
    <script type="text/javascript">
        // When the user clicks on div, open the popup
        function myFunction(id) {
            var idsList = ["lok"];
            {% for level in levelModels %}
            idsList.push({{ level.expRequired }});
            {% endfor %}
            var popup = document.getElementById(id);
            popup.classList.toggle("show");
        }
    </script>
</head>
<body>




{#<p id="demo"></p>#}
{#<script type="text/javascript">#}
{#function change_value(id) {#}
    {#var idsList = ["lok"];#}
    {#{% for level in levelModels %}#}
    {#idsList.push({{ level.expRequired }});#}
    {#{% endfor %}#}
    {#var text = "";#}
    {#for (i = 0; i < idsList.length; i++) {#}
        {#text += idsList[i];#}
    {#}#}
    {#document.getElementById("demo").innerHTML = text;#}
{#//        return ids.innerHTML= text;#}

    {#var ids = document.getElementById(id);#}
    {#return ids.innerHTML = idsList[id];#}
{#}#}

{#</script>#}
<div class="top-menu-bar">
    <div class="banner">
        <img src="/static/img/banner_admin.png">
    </div>

    <dl id="menu0">
        <dt>
            <a href="/admin">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
        </dt>
    </dl>
    <dl id="menu1">
        <dt>Mentor</dt>
        <dd><a href="/admin/show_mentors">Show mentors list</a></dd>
        <dd><a href="/admin/add_mentor">Add new mentor</a></dd>
        <dd><a href="admin_remove_mentor.html">Remove mentor</a></dd>

    </dl>
    <dl id="menu2">
        <dt>Class</dt>
        <dd><a href="/admin/show_classes">Show classes list</a></dd>
        <dd><a href="/admin/add_class">Add new class</a></dd>
        <dd><a href="admin_remove_class.html">Remove class</a></dd>
    </dl>
    <dl id="menu3">
        <dt>Level</dt>
        <dd><a href="/admin/show_levels">Show levels list</a></dd>
        <dd><a href="/admin/add_level">Create new level</a></dd>
        <dd><a href="admin_remove_level.html">Remove level</a></dd>
    </dl>
    <dl id="logout">
        <dt>
            <a href=../login_page.html>
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
        </dt>
    </dl>
</div>


<script type="text/javascript">
        // <![CDATA[
        new Menu('menu0', 'position: absolute', true, true, 50, 50, 0, 250);
        new Menu('menu1', 'position: absolute', true, true, 50, 50, 0, 250);
        new Menu('menu2', 'position: absolute', true, true, 50, 50, 0, 250);
        new Menu('menu3', 'position: absolute', true, true, 50, 50, 0, 250);
        new Menu('logout', 'position: absolute', true, true, 50, 50, 0, 250);
        // ]]>
    </script>

    <!-- Sidebar -->
    <div class="left">
        <div class="user_photo">
            <img border="0" alt="logout" src="/static/img/rafon.jpg" width=100%>
        </div>

        <div class="calendar-wrapper">
            <button id="btnPrev" type="button">Prev</button>
            <button id="btnNext" type="button">Next</button>
            <div id="divCal"></div>
        </div>
    </div>

    <!-- Main content -->
    <div class="main">

        <div class="table">
            <table class="tg">

                <div class="text">Mail Box</div>
                <td class="tg-gkax">Sender</td>
                <td class="tg-gkax">Header</td>

                {% for mail in mailModels %}

                    <tr>
                        <td class="tg-gkax">{{ mail.name }} </td>
                        <td class="tg-gkax">
                            <div class="popup" onclick="myFunction({{ loop.index }})">{{ mail.header }}
                                <span class="popuptext" id="{{ loop.index }}"> {{ mail.content }} </span>
                            </div>
                        </td>
                     </tr>

                {% endfor %}
              
            </table>
        </div>
    </div>

<div class="footer">
    ? 2017 Codecool. All rights reserved. <br>
    <a href=authors_admin.html> About authors ? </a>
</div>

<script src="/static/js/calendar.js"></script>
</body>
</html>